.auth-container {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff8e7;
  border: 2px solid #b08968;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-title {
  font-size: 30px;
  color: #6d4c41;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #b08968;
  border-radius: 5px;
  font-size: 17px;
  background-color: #f9f1e7;
}

.password-container {
  display: flex;
  align-items: center;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
}

.auth-button {
  background-color: #b08968;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.auth-button:hover {
  background-color: #8c6246;
}

.auth-footer {
  margin-top: 10px;
  font-size: 15px;
}

.auth-link {
  color: #6d4c41;
  text-decoration: none;
  font-weight: bold;
}

.auth-link:hover {
  text-decoration: underline;
}

.date-input-container {
  position: relative;
}

.date-placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s ease;
}

.date-input:focus + .date-placeholder,
.date-input:not(:empty) + .date-placeholder {
  top: -10px;
  left: 10px;
  font-size: 10px;
  color: #000;
}

.date-input {
  z-index: 10;
}